* {
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  body {
    background-color: rgb(1, 90, 185);
  }
  .section1 {
    width: 100%;
  }
  .sunflower-logo {
    width: 100%;
    height: 101vh;
    object-fit: cover;
  }
  .section2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .section2 .left {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-bottom: 30px;
  }
  .ukraine-protest {
    border-style: none;
    border-radius: 20px;
    object-fit: cover;
    object-position: bottom;
    width: 90%;
    height: 40vh;
  }
  .section2 .right {
    height: 100%;
  }
  .section2 .right .title {
    text-align: center;
    font-family: GemoshHeadline-Regular;
    font-size: 18vw;
    color: rgb(253, 215, 0);
  }
  .section2 .right .description {
    text-align: center;
    font-family: Montserrat;
    line-height: 1.9em;
    font-size: 3vw;
    padding: 20px;
    color: white;
    margin: 0;
  }
  .mountains {
    width: 100%;
    margin-bottom: -10px;
  }
  .section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  .section3 .ukraine-heart {
    margin-top: 70px;
    width: 50vw;
  }
  .section3 .description {
    text-align: center;
    font-family: Montserrat;
    line-height: 1.9em;
    font-size: 3vw;
    margin: 20px 0;
    width: 70vw;
  }
  .section3 .donate-btn {
    background-color: rgb(253, 215, 0);
    border-style: none;
    border-radius: 5px;
    font-family: GemoshHeadline-Regular;
    font-size: 10vw;
    padding: 15px 60px 0 60px;
    color: rgb(1, 90, 185);
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
  }
  .section3 .donate-btn:hover {
    background-color: rgb(1, 90, 185);
    color: rgb(253, 215, 0);
  }
  .section4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 60px 0;
    background-color: white;
  }
  .section4 section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section4 .team {
    width: 80vw;
    margin: 50px 0 20px 0;
  }
  .section4 section .description {
    text-align: center;
    font-family: Montserrat;
    line-height: 1.9em;
    font-size: 3vw;
    margin: 0 0 20px 0;
    width: 70vw;
  }
  .team-btn {
    background-color: rgb(253, 215, 0);
    border-style: none;
    border-radius: 5px;
    font-family: GemoshHeadline-Regular;
    padding: 15px 60px 0 60px;
    font-size: 10vw;
    color: rgb(1, 90, 185);
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
  }
  .team-btn:hover {
    background-color: rgb(1, 90, 185);
    color: rgb(253, 215, 0);
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  body {
    background-color: rgb(1, 90, 185);
  }
  .section1 {
    height: 100%;
  }
  .sunflower-logo {
    width: 100%;
    height: 101vh;
    object-fit: cover;
  }
  .section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 80px;
  }
  .section2 .left {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .ukraine-protest {
    border-style: none;
    border-radius: 20px;
    object-fit: cover;
    width: 85%;
    height: 100%;
  }
  .section2 .right {
    height: 50%;
    width: 100%;
  }
  .right .title {
    text-align: center;
    font-family: GemoshHeadline-Regular;
    font-size: 14vw;
    margin-right: 5%;
    color: rgb(253, 215, 0);
  }
  .section2 .right .description {
    text-align: center;
    font-family: Montserrat;
    line-height: 1.9em;
    font-size: 2.5vw;
    margin-right: 5%;
    padding: 20px;
    color: white;
  }
  .mountains {
    width: 100%;
    margin-bottom: -10px;
  }
  .section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 30px 0;
    background-color: white;
  }
  .section3 .ukraine-heart {
    width: 40vw;
  }
  .section3 .description {
    text-align: center;
    font-family: Montserrat;
    line-height: 1.9em;
    width: 80%;
    font-size: 2.5vw;
    margin: 20px 0;
  }
  .section3 .donate-btn {
    background-color: rgb(253, 215, 0);
    border-style: none;
    border-radius: 5px;
    font-family: GemoshHeadline-Regular;
    font-size: 10vw;
    padding: 10px 60px 0 60px;
    color: rgb(1, 90, 185);
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
  }
  .section3 .donate-btn:hover {
    background-color: rgb(1, 90, 185);
    color: rgb(253, 215, 0);
  }
  .section4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 30px 0;
    background-color: white;
  }
  .section4 section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team {
    width: 55%;
    margin: 50px 0 20px 0;
  }
  .section4 section .description {
    text-align: center;
    font-family: Montserrat;
    line-height: 1.9em;
    font-size: 2.5vw;
    width: 80%;
    margin: 0 0 20px 0;
  }
  .team-btn {
    background-color: rgb(253, 215, 0);
    border-style: none;
    border-radius: 5px;
    font-family: GemoshHeadline-Regular;
    padding: 15px 0 0 0;
    width: 60%;
    font-size: 10vw;
    color: rgb(1, 90, 185);
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
  }
  .team-btn:hover {
    background-color: rgb(1, 90, 185);
    color: rgb(253, 215, 0);
  }
}
@media (min-width: 1201px) {
  body {
    background-color: rgb(1, 90, 185);
  }
  .section1 {
    height: 100vh;
  }
  .sunflower-logo {
    width: 100%;
    height: 101vh;
    object-fit: contain;
  }
  .section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0 100px 0;
  }
  .section2 .left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .ukraine-protest {
    border-style: none;
    border-radius: 20px;
    object-fit: cover;
    object-position: bottom;
    width: 85%;
    height: 70vh;
  }
  .section2 .right {
    height: 100%;
    width: 100%;
  }
  .right .title {
    text-align: center;
    font-family: GemoshHeadline-Regular;
    font-size: 1000%;
    margin-right: 5%;
    color: rgb(253, 215, 0);
  }
  .section2 .right .description {
    text-align: center;
    font-family: Montserrat;
    line-height: 1.9em;
    font-size: 170%;
    margin-right: 5%;
    padding: 20px;
    color: white;
  }
  .mountains {
    width: 100%;
    margin-bottom: -10px;
  }
  .section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 30px 0;
    background-color: white;
  }
  .section3 .ukraine-heart {
    width: 30%;
  }
  .section3 .description {
    text-align: center;
    font-family: Montserrat;
    line-height: 1.9em;
    width: 70%;
    font-size: 170%;
    margin: 30px 0;
  }
  .section3 .donate-btn {
    background-color: rgb(253, 215, 0);
    border-style: none;
    border-radius: 5px;
    font-family: GemoshHeadline-Regular;
    font-size: 600%;
    padding: 10px 60px 0 60px;
    color: rgb(1, 90, 185);
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
  }
  .section3 .donate-btn:hover {
    background-color: rgb(1, 90, 185);
    color: rgb(253, 215, 0);
  }
  .section4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 5% 0;
    background-color: white;
  }
  .section4 section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team {
    width: 55%;
    margin: 50px 0 20px 0;
  }
  .section4 section .description {
    text-align: center;
    font-family: Montserrat;
    line-height: 1.9em;
    font-size: 170%;
    width: 70%;
    margin: 0 0 20px 0;
  }
  .team-btn {
    background-color: rgb(253, 215, 0);
    border-style: none;
    border-radius: 5px;
    font-family: GemoshHeadline-Regular;
    padding: 15px 40px 0 40px;
    font-size: 600%;
    color: rgb(1, 90, 185);
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
  }
  .team-btn:hover {
    background-color: rgb(1, 90, 185);
    color: rgb(253, 215, 0);
  }
}
